.container {
  position: fixed;
  border-style: none none solid solid;
  background-color: #3C3C3C;
  display: flex;
  align-items: center;
  border: 1px #5E5E5E;
}

.shadow {
  z-index: 1000;
  box-shadow: 0 5px 5px #00000040;
}

.label {
  padding-left: 1em;
  font-size: 0.75em;
}

.commandIcon{
  border-radius: 12px;
}

.commandIcon:hover {
  cursor: pointer;
}

.wind {
  animation: turnClockwise 300ms ease-in-out forwards;
}

.unwind {
  animation: turnCounterClockwise 300ms ease-in-out forwards;
}

.menuList {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  transition: height 300ms ease-in-out;
}

.menuItem {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3C3C3C;
  padding: 0.5em;
  font-size: 12px;
}

.menuItem:not(:last-child) {
  border-bottom: 1px solid #5E5E5E;
}

.menuItem:hover {
  font-weight: 600;
  cursor: pointer;
}

@keyframes turnClockwise {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-180deg);
  }
}

@keyframes turnCounterClockwise {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(0);
  }
}
