.container {
  align-content: flex-end;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.title,
.intro,
.instructionsContainer,
.commandListContainer {
  font-family: var(--font-cutive-mono);
  white-space: break-spaces;
}

.intro,
.instructionsContainer,
.commandListContainer {
  margin-bottom: 1em;
}

.instructionsContainer,
.commandListContainer {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 0.5em;
  font-weight: 600;
}

.instructionsContainer {
  border-top: dashed 1px whitesmoke;
  border-bottom: dashed 1px whitesmoke;
  padding: 1em 0;
}

.instructions {
  margin-bottom: 0.5em;
}

.command {
  display: flex;
  align-items: center;
}

.commandIcon {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}
