.command,
.response,
.projectDescriptionContainer {
  font-family: var(--font-cutive-mono);
}

.container {
  align-content: flex-end;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.command {
  display: flex;
  align-items: center;
  animation: glitch 1s ease-in 3s forwards;
  margin-bottom: 1em;
}

.commandIcon {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.letter {
  display: inline-block;
  animation: typeEffect 1s step-start 3s forwards;
  opacity: 0;
}

.response {
  color: cyan;
}

.projectsContainer {
  display: flex;
  border-bottom: dashed 1px whitesmoke;
}

.projectsContainer:first-of-type {
  margin-top: 10px;
  border-top: dashed 1px whitesmoke;
}

.projectDescriptionContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 10px; 
  color: cyan;
  gap: 6px;
}

.projectTitle {
  display: flex;
  align-items: center;
  font-weight: 800;
}

.projectLinkContainer {
  display: flex;
  flex-direction: column;
}

.projectLink {
  display: flex;
  align-items: center;

  a {
    overflow-wrap: anywhere;
  }

  a:hover {
    text-decoration: underline;
  }
}

.iconAnim {
  animation: breathe 2s infinite linear;
}

@keyframes glitch {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes typeEffect {
  0%, 50% {
    opacity: 0;
  }
  51%, 100% {
    opacity: 1;
  }
}

@keyframes breathe {
  0% {
    filter: brightness(0%);
  }
  25% {
    filter: brightness(50%);
  }
  50% {
    filter: brightness(100%);
  }
  75% {
    filter: brightness(50%);
  }
  100% {
    filter: brightness(0%);
  }
}
