.container {
  display: flex;
  height: inherit;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.subContainer {
  display: flex;
  background-color: #141414;
  margin: 20px;
  width: 100%;
}

.art {
  color: yellow;
}

.command {
  color: magenta;
  font-family: var(--font-space-grotesk);
}

.response {
  color: cyan;
  font-family: var(--font-space-grotesk);
}
