.command {
  animation: glitch 1s ease-in 1s forwards;
  color: magenta;
  font-family: var(--font-cutive-mono);
}

.art {
  color: yellow;
}

.response {
  color: cyan;
  font-family: var(--font-cutive-mono);
}

.letter {
  display: inline-block;
  animation: typeEffect 1s step-start 3s forwards;
  opacity: 0;
}

.emailPrompt {
  display: flex;
  align-items: center;
  color: magenta;
  font-family: var(--font-cutive-mono);
}

.emailPromptAnimation {
  animation: glitch 1s ease-in 500ms forwards;
}

.promptCheck {
  width: min-content;
  margin-left: 0;
}

.promptYesNo {
  color: #BB00BB;
  font-style: italic;
}

.noEmail {
  display: flex;
  align-items: center;
  color: #979797;
  font-style: italic;
}

.yesEmail {
  color: #00B9B9;
  font-style: italic;
}

.userResponse {
  display: flex;
  align-items: center;
  font-style: italic;
}

.msgError {
  display: flex;
  align-items: center;
  font-style: italic;
}

.syntaxFix {
  color: #FFFFFFb3;
}

@keyframes glitch {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes typeEffect {
  0%, 50% {
    opacity: 0;
  }
  51%, 100% {
    opacity: 1;
  }
}
