.container {
  animation: slideUp 1s ease-in forwards;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  background-color: #282828;
  box-shadow: inset 0 0 16px #171717;
  width: 100%;
  height: 3rem;
  padding: 1rem;
  font-family: var(--font-cutive-mono);
}

.prompt {
  animation: appear 1s ease-in 1s forwards;
  visibility: hidden;
  user-select: none;
  white-space: pre;
}

.commandInput {
  flex: 1;
  display: inline-flex;
  align-items: flex-end;
  outline: none;
  margin-left: 0.5rem;
  min-height: 1rem;
  white-space: pre;
  cursor: text;
}

.commandInput:focus {
  outline: none;
}

.caret {
  animation: appear 1s ease-in 1s forwards, blink 1s step-start infinite;
  margin-left: 1px;
  border-bottom: solid 1px white;
  visibility: hidden;
} 

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes appear {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
