.contentContainer {
  animation: appear 500ms ease-in 1s forwards;
  position: fixed;
  top: 10rem;
  display: flex;
  width: 100%;
  height: calc(100vh - 13rem);
  padding: 0;
  opacity: 0;
}

.terminal {
  display: flex;
  justify-content: flex-end;
  box-shadow: 0 0 10px #000;
  background-color: #141414;
  margin: 20px;
  width: 100%;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}