.contentContainer {
  animation: appear 500ms ease-in 1s forwards;
  position: fixed;
  top: 10rem;
  display: flex;
  width: 100%;
  height: calc(100vh - 13rem);
  padding: 0;
  opacity: 0;
}

.terminal {
  display: flex;
  justify-content: flex-end;
  background-color: #141414;
  border: solid 1px #5E5E5E;
  margin: 20px;
  padding: 0;
  width: 100%;
  overflow-y: auto;
}

.toastContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toastMessage {
  color: red;
  font-family: var(--font-cutive-mono);
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
