.container {
  display: flex;
  padding: 40px;
}

.column {
  flex-direction: column;
}

.fullWidth {
  width: 100%;
}

.rounded {
  border-radius: 8px;
}

.square {
  border-radius: 0;
}

.noWrap {
  flex-flow: nowrap;
}